.contenedorPrincipal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.165);
    border-radius: 20px;
    gap: 60px;
}



.contenedorNav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    top: 20px;
    border-radius: 20px;
}

.contenedorNav .form-control {
    width: 40%;
    position: relative;
    left: 50px;
    background-color: var(--grey);
    color: var(--dark) !important;
}

.contenedorNav h5 {
    position: relative;
    right: 50px;
}

.contenedorHistorial {
    display: flex;
    flex-direction: column;
    width: 100%;
   
    height: 85%;
    border-radius: 2px;
    gap: 30px;
    background-color: var(--white);
    color: var(--dark);
    overflow-x: auto;
}

.contenedorHistorial h2 {
    position: relative;
    left: 50px;
    top: 20px;
}

.informacion {
    display: flex;
    border-radius: 20px;
    position: relative;
    left: 20px;
    justify-content: space-around;
    width: 95%;
    height: 95%;
}

.contenedorHistorial .info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.list-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-accion {
    background-color: var(--white);
    border-radius: 0.5rem;
    color: var(--dark);
    border: 1px solid var(--dark);
    width: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn-accion:hover {

    transition: 0.2s ease-in-out;
    color: var(--warning);
    border: 1px solid var(--warning);
}  

.btn-accion-secondary{
    background-color: var(--dark);
    border-radius: 0.5rem;
    color: var(--white);
    border: 1px solid var(--white);
    width: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.btn-accion-secondary:hover {

    transition: 0.2s ease-in-out;
    color: var(--warning);
    border: 1px solid var(--warning);
} 
.accion:hover {
    background-color: rgb(255, 213, 97);
}

.label {
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}

.label h5 {
    border-bottom: 3.2px solid rgb(236, 180, 27);
    width: calc(100% / 8);
}

.info > div {
    width: calc(100% / 8);
}

.Botones {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.page-link {
    color: var(--dark) !important;
    background-color: var(--white) !important;
}

.pagination {
    --bs-pagination-focus-box-shadow: 0 0 0 0.1rem rgba(255, 213, 97);
    --bs-pagination-focus-bg: #fff;
}

.pagination.page-item:hover {
    border-color: rgb(255, 213, 97);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 213, 97);
    outline: 0 none;
}

.page-link:hover:focus {
    border-color: rgb(255, 213, 97);
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 213, 97);
    outline: 0 none;
}

.form-select {
    width: 40%;
    background-color: var(--white);
    color: var(--dark);
    border-radius: 5px;
    border: solid 1px var(--dark);
    padding-left: 1rem;
    padding-right: 1rem;
}

.optionFilter {
    background-color: var(--white);
    color: var(--dark);
}

input:focus,
select:focus,
select,
input.form-control:focus,
select.form-select:focus {
    outline: none !important;
    outline-width: 0 !important;
    background: var(--white);
    color: var(--dark);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

textarea:focus:hover,
input:focus,
input[type]:focus,
select:focus {
    border-color: rgb(255, 213, 97)!important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgb(214, 157, 0);
    outline: 0 none;
 
}

select.form-select:focus {
    border-color: rgb(255, 213, 97) !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(255, 213, 97);
    outline:0 none;
}
.busqueda {
width: 50%;
display: flex;
flex-direction: column;
}
.fallida {
margin: 0;
justify-content: flex-start !important;
margin-left: 50px;
}

.toggle-button button {
background-color: var(--light);
border: none;
position: relative;
color: var(--dark);
cursor: pointer;
padding: 10px 20px;
font-size: 18px;
border-radius: 5px;
margin: 10px;
flex: 1 !important;

}
.container-enunciados{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.toggle-button button.active {
background-color: var(--dark);
color: var(--light);
}


@media screen and (max-width: 768px) {
    .form-select {
        width: 50%;
     
    }
}    