.spinner.loading {
    padding: 20px;
    position: relative;
    text-align: center;
  }
  
  .spinner.loading:before {
    content: "";
    height: 30px;
    width: 30px;
    margin: -15px auto auto -15px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: var(--warning) #ccc #ccc;
    border-radius: 100%;
    animation: rotation .7s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    } to {
      transform: rotate(359deg);
    }
  }

.shapeContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--dark);
    margin-top: 15%;
}
@keyframes colorChange {
    0% {
        color: var(--warning); /* Color inicial */
    }
    25% {
      color: var(--dark); /* Cambio de color 1 */
    }
    50% {
      color: var(--warning); /* Cambio de color 2 */
    }
    75% {
      color: var(--dark); /* Cambio de color 3 */
    }
    100% {
      color: var(--warning); /* Color final (vuelve al color inicial) */
    }
  }
  
  /* Aplicaci贸n de la animaci贸n al elemento */
  .shapeContainer h2 {
    margin-top: 1rem;
    animation: colorChange 2.5s infinite; /* 2 segundos de duraci贸n, repetici贸n infinita */
    font-weight: bold;
  }
.shapes-9 {
    width: 60px;
    height: 60px;
    color: orange;
    background:
      linear-gradient(currentColor 0 0) left   20px top    0,
      linear-gradient(currentColor 0 0) top    20px right  0,
      linear-gradient(currentColor 0 0) right  20px bottom 0,
      linear-gradient(currentColor 0 0) bottom 20px left   0;
    background-size:calc(100%/3) calc(100%/3);
    background-repeat: no-repeat;
    animation: 
      sp9-1 .75s infinite alternate linear,
      sp9-2 1.5s infinite;
  }
  
  
  @keyframes sp9-1 {
   90%,100% {background-size:calc(2*100%/3) calc(100%/3),calc(100%/3) calc(2*100%/3)}
  }
  @keyframes sp9-2 {
   0%,49.99% {transform:scaleX(1)}
   50%,100%  {transform:scaleX(-1)}
  }
  
  